footer {
    background-color: #f7f8fa;
}

.f-col {
    padding: 50px;
}

.f-col:last-child {
    padding: 50px 20px;
}

.f-col ul {
    list-style-type: none;
    padding-left: 0;
}

/* .f-col ul li {
    margin-top: 5px;
} */

.f-col h6 {
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

ul.contacts li {
    display: flex;
    align-items: center;
}

ul.contacts li span {
    padding: 5px 10px;
}


.f-label {
    font-weight: 700;
}

.container.services {
    padding: 30px 20px;
}

.services p {
    margin-bottom: 0;
}

.col-services {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-services i {
    color: #2879FE;
    font-size: 2.5em;
}

.col-services div:nth-child(2) {
    margin: 10px 20px;
}

.label-services {
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.hot {
    padding: 20px;
}

.col-h-container:nth-child(1) .col-h{
    background: url('../nike.jpg');
}

.col-h-container:nth-child(2) .col-h{
    background: url('../adidas.jpg');
}

.col-h {
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;

    display: flex; 
    margin: auto; 
}

.col-h-container {
    padding: 20px;
}

.hot img {
    height: 50%;
}

.col-h h5 {
    /* position: absolute;
    top: calc(50% - 10px);
    left: 25%;
    width: 50%;
    text-align: center;
    margin: 0 auto; */
    width: 70%;
    padding: 10px;
    background:rgba(255,255,255,0.8);

    margin: auto; /* Important */ 
        text-align: center; 
}